<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  
  <appSettings>
    <add key="SiteName" value="CMS"/>
    <add key="PageSize" value="10"/>
    <add key="ImagesPerPage" value="10"/>
    <add key="DesLength" value="200"/>
    <add key="TopArticles" value="5"/>
  </appSettings>
  
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="server=LACLAC-PC;database=Course;UID=sa;PWD=Nguyen;"
         providerName="System.Data.SqlClient" />
    <add name="CourseEntities" connectionString="metadata=res://*/Modles.CourseDB.csdl|res://*/Modles.CourseDB.ssdl|res://*/Modles.CourseDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LACLAC-PC;initial catalog=Course;user id=sa;password=Nguyen;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.web>

    <!--Start XSS Demo-->
    <!--<customErrors mode="Off"/>
    <httpRuntime requestValidationMode="2.0"/>
    <pages validateRequest="false" enableViewStateMac="false"/>-->
    
     <!--protected Xss-->
    <pages buffer="true" validateRequest="true" />
    <globalization
         requestEncoding="iso-8859-1"
         responseEncoding="iso-8859-1"/>
    
    <!--End XSS Demo-->
    
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

    <customErrors mode="On" defaultRedirect="Ooop.aspx">
      
    </customErrors>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
     <modules runAllManagedModulesForAllRequests="true"/>
    <!--http://www.stokia.com/support/misc/web-config-ip-address-restriction.aspx-->
    <!--Allow all, but block specific IPs or networks-->
    <security>
      <ipSecurity allowUnlisted="true">
        <!-- this line allows everybody, except those listed below -->
        <clear/>
        <!-- removes all upstream restrictions -->
        <add ipAddress="83.116.19.53"/>
        <!-- blocks the specific IP of 83.116.19.53  -->
        <add ipAddress="83.116.119.0" subnetMask="255.255.255.0"/>
        <!--blocks network 83.116.119.0 to 83.116.119.255-->
        <add ipAddress="83.116.0.0" subnetMask="255.255.0.0"/>
        <!--blocks network 83.116.0.0 to 83.116.255.255-->
        <add ipAddress="83.0.0.0" subnetMask="255.0.0.0"/>
        <!--blocks entire /8 network of 83.0.0.0 to 83.255.255.255-->
      </ipSecurity>
    </security>

    <!--Deny all, but allow specific IPs or networks-->
    <!--<security>
      <ipSecurity allowUnlisted="false">
        --><!-- this line blocks everybody, except those listed below --><!--
        <clear/>
        --><!-- removes all upstream restrictions --><!--
        <add ipAddress="127.0.0.1" allowed="true"/>
        --><!-- allow requests from the local machine --><!--
        <add ipAddress="83.116.19.53" allowed="true"/>
        --><!-- allow the specific IP of 83.116.19.53  --><!--
        <add ipAddress="83.116.119.0" subnetMask="255.255.255.0" allowed="true"/>
        --><!--allow network 83.116.119.0 to 83.116.119.255--><!--
        <add ipAddress="83.116.0.0" subnetMask="255.255.0.0" allowed="true"/>
        --><!--allow network 83.116.0.0 to 83.116.255.255--><!--
        <add ipAddress="83.0.0.0" subnetMask="255.0.0.0" allowed="true"/>
        --><!--allow entire /8 network of 83.0.0.0 to 83.255.255.255--><!--
      </ipSecurity>
    </security>-->
    
  </system.webServer>
  
</configuration>
