<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CourseDBEntities" connectionString="metadata=res://*/Modles.CourseDB.csdl|res://*/Modles.CourseDB.ssdl|res://*/Modles.CourseDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=LACLAC-PC;Initial Catalog=Course;User ID=sa;Password=Nguyen;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>